body {
	background: #189ab496;
	display: flex;
	justify-content: center;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	margin: 0;
}

.form {
	margin: auto;
	background: #fff;
	width: 300px;
	padding: 40px;
  border-radius: 8px;
	-webkit-box-shadow: 0px 0px 20px 0px #189ab4;
	-moz-box-shadow: 0px 0px 20px 0px #189ab4;
	box-shadow: 0px 0px 20px 0px #189ab4;
}

.form img {
	height: 128px;
	width: 128px;
	margin: auto;
	display: block;
}

.form h2 {
	margin: 0 0 20px;
	line-height: 1;
	color: #189AB4;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.form .bold {
	font-weight: 500;
}

.form input {
	outline: none;
	display: block;
	width: 100%;
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid #ccc;
	color: #000;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form input:focus {
	color: #333;
	border: 1px solid #75E6DA;
}

.form .btn-submit {
	cursor: pointer;
	background: #189AB4;
	width: 100%;
	padding: 10px 15px;
	border: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.form .btn-submit:hover{
	background: #05445E;
}

.error, .valid{
	display:none;
}

.message-text {
  font-weight: 300;
  color: #F00;
  text-align: center;
}
